/* Sheet breiter machen als sonst in odoo - auskommentiert, da Vollbild Button besser fuer UX
.openerp .oe_form_sheet_full_screen {
  max-width: none;
  margin: 0 auto;
}
*/

/* Vollbild-Button und Vollbild Screen */

.oe_opencpq_button_rel{
    position: relative;
}

.oe_opencpq_button{
    position: absolute;
    top: 18px;
    right: 30px;
    z-index: 2000;
}

.oe_opencpq_iframe{
    position: relative;
    height: 500px;
}

.oe_opencpq_fullscreen .oe_opencpq_button {
    position: absolute;
    top:11px;
}

.oe_opencpq_fullscreen .oe_opencpq_iframe {
    position: relative;
    height: 100%;
}

.oe_opencpq_fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
    margin:0;
    padding:0;
    border:none;
    z-index: 1001;

    height: 100%;
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ms-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
}
