
.o_opencpq {
    float: right;

    .opencpq_button_class {
        position: relative;
        float: right;
        margin-left: 5px;
        > button {
            width: 240px;
        }
    }
}

.modal-fullscreen {
    width: 98%;
    height: 100%;
    padding: 0;
}

/*
.modal-content {
  height: 100%;
  border-radius: 0;
}
*/
