
.o_opencpq {
    float: right;
    
    .opencpq_button_class {
        position: relative;
        float: right;
        margin-left: 5px;
        > button {
            width: 240px;
        }
    }
}

.opencpq_input_text {
}

.opencpq_input_html {
}
